SECRET_KEY=secret
DEBUG=
ALLOWED_HOSTS=localhost, 127.0.0.1,

DATABASE_URL=postgres://userworkflow:passworkflow@localhost:5432/postgres

# This is the interest rate to be applied when calculating the discount in an Anticipation. It
# has to be a float number, for example: 3% / month --> 0.03
INTEREST_RATE=0.03

# Email settings
EMAIL_HOST=
EMAIL_PORT=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=True
DEFAULT_FROM_EMAIL=
EMAIL_BACKEND=

# AWS settings
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=
