[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pytest-django = "*"
python-decouple = "*"
dj-database-url = "*"
psycopg2-binary = "*"
django-extensions = "*"

[dev-packages]
flake8 = "*"
model-bakery = "*"

[requires]
python_version = "3.11"
