{% extends 'base/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'payments/css/anticipation.css' %}">
    <link rel="stylesheet" href="{% static 'payments/css/common_settings.css' %}">
{% endblock css %}

{% block title %}
    <title>Pagamentos - Antecipar</title>
{% endblock title %}

{% block maincontent %}
    <section id="main-content-anticipation">
        <h1 id="main-content-title">Antecipação de pagamento</h1>
        <h2>{{ payment }}</h2>
        <h3>Vencimento: {{ payment.due_date|date:"d/m/Y" }}</h3>
        <form action="" method="POST">
            {% csrf_token %}
            <div id="form-fields">
                {{ form.new_due_date.label_tag }} {{ form.new_due_date }}
                <p class="errornote">{{ form.new_due_date.errors }}</p>
            </div>
            <a href="{% url 'payments:home' %}" id="canc-button">Cancelar</a>
            <button type="submit" id="conf-button">Confirmar</button>
        </form>
    </section>
{% endblock maincontent %}
