{% extends 'base/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'payments/css/home.css' %}">
{% endblock css %}

{% block title %}
    <title>Pagamentos - Home</title>
{% endblock title %}

{% block maincontent %}
    <section id="main-content-home">
        <h1 id="main-content-title">{{ title }}</h1>
        <form id="filter_form" action="" method="POST">
            {% csrf_token %}
            {{ form.status.label_tag }} {{ form.status }}
            <button id="filter_button" type="submit">Filtrar</button>
            {{ form.status.errors }}
        </form>
        {% if payments %}
            <div class="payment-titles">
                {% if status == 'PC' or status == 'AN' or status == 'D' %}
                    <div>Fornecedor - Valor orig.</div>
                    <div class="payment-infos">
                        <div class="payment-due-date">Novo vencimento<span>/</span></div>
                        <div class="payment-value">Novo valor (R$)</div>
                    </div>
                {% else %}
                    <div>Fornecedor</div>
                    <div class="payment-infos">
                        <div class="payment-due-date">Vencimento<span>/</span></div>
                        <div class="payment-value">Valor (R$)</div>
                    </div>
                {% endif %}
            </div>
        {% endif %}
        {% for payment in payments %}
            <div class="payment-item">
                {% if status == 'PC' or status == 'AN' or status == 'D' %}
                    <div class="supplier">{{ payment }}</div>
                    <div class="payment-infos">
                        <div class="payment-due-date">{{ payment.anticipation.new_due_date|date:"d/m/Y" }}<span>/</span></div>
                        <div class="payment-value">{{ payment.anticipation.new_value|floatformat:"2g" }}</div>
                    </div>
                {% else %}
                    <div class="supplier">
                        <div>{{ payment.supplier }}</div>
                        {% if status == 'A' %}
                            {% if perms.payments.add_anticipation %}
                                <a class="anticipation-link" href="{{ payment.create_anticipation }}">Antecipar</a>
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="payment-infos">
                        <div class="payment-due-date">{{ payment.due_date|date:"d/m/Y" }}<span>/</span></div>
                        <div class="payment-value">{{ payment.value|floatformat:"2g" }}</div>
                    </div>
                {% endif %}
            </div>
        {% empty %}
            <div>Não há pagamentos cadastrados.</div>
        {% endfor %}
    </section>
{% endblock maincontent %}
