{% extends 'base/base.html' %}
{% load static %}
{% load i18n %}

{% block css %}
    <link rel="stylesheet" href="{% static 'payments/css/logs.css' %}">
    <link rel="stylesheet" href="{% static 'payments/css/common_settings.css' %}">
{% endblock css %}

{% block title %}
    <title>{% translate 'Payments - Logs' %}</title>
{% endblock title %}

{% block maincontent %}
    <section id="main-content-logs">
        <h1 class="main-content-title">{% translate 'Logs' %}</h1>
        {% if logs %}
            <div id="titles">
                <div>{% translate 'Anticipation' %}</div>
                <div id="infos-title">
                    <div class="item-date">{% translate 'Registered in' %}<span>/</span></div>
                    <div class="item-user">{% translate 'User' %}<span>/</span></div>
                    <div class="item-action">{% translate 'Action' %}</div>
                </div>
            </div>
        {% endif %}
        {% for log in logs %}
            <div class="log-item">
                <div class="log-anticipation">{{ log.anticipation }}</div>
                <div class="log-infos">
                    <div>{{ log.created_at|date:"d/m/Y" }}<span>/</span></div>
                    <div>{{ log.user }}<span>/</span></div>
                    <div>{{ log.get_action_display }}</div>
                </div>
            </div>
        {% empty %}
            <div>{% translate 'There are no logs.' %}</div>
        {% endfor %}
    </section>
{% endblock maincontent %}
