.main-content-title {
    font-size: 2rem;
    margin-bottom: 2rem;
}

input, select {
    font-size: 1.1rem;
    padding: 0.1rem 0.5rem;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 1rem;
}

.errorlist {
    color: red;
}

#form-fields {
    display: flex;
    flex-direction: column;
    width: 50%;
}

label {
    font-size: 1.1rem;
}

#conf-button {
    font-size: 1.1rem;
    padding: 0.2rem 1rem;
    border-radius: 5px;
    background-color: green;
    color: white;
    cursor: pointer;
    margin-top: 1rem;
    border: none;
}

#canc-button {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    padding: 0.2rem 1rem;
    border-radius: 5px;
    background-color: red;
}

#canc-button a {
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 1000px) {
    #form-fields {
        width: 70%;
    }
}

@media screen and (max-width: 550px) {
        #form-fields {
            width: 100%;
        }
}
