.main-content-title {
    font-size: 2rem;
    margin-bottom: 2rem;
}

#filter_form {
    margin-bottom: 1rem;
}

label {
    font-size: 1.1rem;
}

#id_status {
    font-size: 1.1rem;
    padding: 3px;
    border-radius: 5px;
}

#filter_button {
    font-size: 1.1rem;
    padding: 3px;
    border-radius: 5px;
}

.payment-titles {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    font-size: 1.1rem;
}

.payment-item {
    background-color: var(--lightgray-color);
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin-bottom: 0.5rem;
    border-radius: 10px;
    font-size: 1.1rem;
}

.payment-item:hover {
    background-color: lightgray;
}

.supplier {
    display: flex;
}

#buttons {
    display: flex;
    height: fit-content;
    margin-right: 1rem;
}

.payment-infos {
    display: flex;
}

span {
    font-weight: bold;
    margin: 0 10px;
}

.approval-anticip-link,
.anticipation-link {
    max-width: fit-content;
    margin-left: 1rem;
    text-decoration: none;
    color: white;
    background-color: green;
    padding: 1px 4px;
    border-radius: 4px;
}

.denial-anticip-link {
    max-width: fit-content;
    margin-left: 1rem;
    text-decoration: none;
    color: white;
    background-color: red;
    padding: 1px 4px;
    border-radius: 4px;
}

@media screen and (max-width: 1000px) {
    .supplier {
        flex-direction: column;
        margin-right: 1rem;
    }

    .anticipation-link {
        margin: 0.8rem 0 0 0;
    }

    .approval-anticip-link {
        margin-left: 0;
    }

    #buttons {
        margin: 0.8rem 0 0 0;
    }

}

@media screen and (max-width: 550px) {
        .payment-infos {
            display: block;
            margin-right: 5px;
        }
}
