:root {
    --dark-color: #3E3D3D;
    --gray-color: gray;
    --lightgray-color: #EDEDED;
}

* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.hidden {
    display: none;
}

.active {
    display: flex;
}

#body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#navbar {
    width: 100%;
    background-color: var(--dark-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    color: white;
    font-size: 2rem;
    margin-left: 2%;
    padding: 17px 0;
}

.navbar-links {
    margin-right: 2%;
}

.navbar-link {
    text-decoration: none;
    color: white;
    height: inherit;
    align-content: center;
    padding: 1.5rem 0.7rem;
    display: inline-block;
    font-size: 1.2rem;
}

.navbar-link:hover {
    background-color: var(--gray-color);
}

#toggle-button {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 5px;
    border: 2px solid gray;
    position: absolute;
    right: 3%;
    top: 2%;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#toggle-button:hover {
    cursor: pointer;
}

.toggle-bar {
    width: 80%;
    height: 10%;
    background-color: var(--gray-color);
    border-radius: 2px;
}

#logout-form {
    position: absolute;
    top: 5rem;
    right: 1rem;
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logout-button {
    background-color: red;
    padding: 4px;
    border-radius: 5px;
    color: white;
    font-size: 1.1rem;
    border: none;
    cursor: pointer;
}

#main-content {
    width: 100%;
    padding: 2% 20%;
}

#footer {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-color: var(--dark-color);
    height: 5rem;
    padding: 2% 2% 1.5% 2%;
    width: 100%;
}

@media screen and (max-width: 850px) {
    #main-content {
        padding: 2% 3%;
    }

    #navbar {
        flex-direction: column;
    }

    #logo {
        align-self: start;
        padding: 1rem 0;
    }

    #toggle-button {
        display: flex;
    }

    .navbar-links {
        flex-direction: column;
        width: 100%;
        display: none;
        margin: 0;
    }

    .navbar-links.active {
        display: flex;
    }

    .navbar-link {
        padding: 1rem 0;
        display: flex;
        justify-content: center;
        font-size: 1rem;
    }

    #logout-form {
        top: unset;
        bottom: 1rem;
        color: white;
    }
}