:root {
    --dark-color: #3E3D3D;
    --gray-color: gray;
}

* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#navbar {
    padding: 0 2%;
    width: 100%;
    background-color: var(--dark-color);
    height: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: end;
}

#navbar-links {
    height: inherit;
    display: flex;
    align-items: center;
}

.navbar-link {
    text-decoration: none;
    color: white;
    height: inherit;
    align-content: center;
    padding: 0 0.7rem;
}

.navbar-link:hover {
    background-color: var(--gray-color);
}

#main-content {
    width: 100%;
    padding: 2% 20%;
}

#footer {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-color: var(--dark-color);
    height: 5rem;
    padding: 2% 2% 1.5% 2%;
    width: 100%;
}
